article div{
    margin-bottom: 3%;
    margin-left: 20%;
}
aside div{
    margin-bottom: 2%;
    margin-right: 20%;
}
div h1{
    font-size: 15px;
    margin-left: 15%;
}
section{
    display: grid;
    grid-template-columns: 50% 50%;
}
div p{
    margin-left: 15%;
}
header{
    text-align: center;
    margin-top: 5%;
}